<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Have Maps Will Travel Posts</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
    <style>
    body { margin:0; padding:0; }
    #map { height: 300px;  width: 100% }
    </style>
    </style>
</head>

<body>
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script>
        var places = $.ajax({
            url: "https://raw.githubusercontent.com/havemaps/havemaps.github.io/master/_site/assets/data.geojson",
            dataType: "json",
            success: console.log("County data successfully loaded."),
            error: function(xhr) {
                alert(xhr.statusText)
            }
        })
        $.when(places).done(function() {
            var map = L.map('map')
                .setView([0, 0], 1);

        var basemap = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 19
        }).addTo(map);

      // Add requested external GeoJSON to map
        var myLayer = L.geoJSON(places.responseJSON, {
            onEachFeature: function (feature, layer) {
                layer.bindPopup('<h3>'+feature.properties['Title']+'</h3>');
              }
            }).addTo(map);

          });
    </script>
</body>

</html>
