// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.share-text{
    color: $text-color;
    float: center;
}

.post-nav{
  float: center;
  text-align: left;
  overflow: hidden;
  @include relative-font-size(1.2);
  border-style: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(255,219,217);
  background: linear-gradient(90deg, rgba(255,219,217,1) 0%, rgba(243,210,255,1) 37%, rgba(193,255,241,1) 76%, rgba(222,249,255,1) 100%);
}

.previous-link{
  padding-right: 5px;
  padding-left: 5px;
}

.next-link{
  padding-right: 5px;
  padding-left: 5px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 1px 1px;
}

a:hover {
  background: white;
  color: $text-color;
}

.round {
  border-radius: 50%;

}
.svg-icon{
  color: #111111;
}

.post-map{
  @include relative-font-size(1.2);
}
